@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.primary');
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }

  ::selection {
    background-color: theme('colors.brand');
    color: theme('colors.background');
  }
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
  }

  .animate-fade-in {
    animation: fade-in 0.2s ease-out forwards;
  }
}